<h1>Points criteria as follows:</h1>
<p>Three points for a correct score.</p>
<p>One point for a right result - Example: If you predict Man City 2-1 Man Utd, but the final result is Man City 3-1 Man Utd, this earns you one point.</p> 
