<h1>Results - Previous 3 Matchdays</h1>
<h2>24th-25th November</h2>
<p>Sunderland 2-4 West Brom</p>
<p>Everton 1-1 Norwich</p>
<p>Man Utd 3-1 QPR</P>
<P>Stoke 1-0 Fulham</p>
<p>Wigan 3-2 Reading</p>
<p>Aston Villa 0-0 Arsenal</p>
<p>Swansea 0-0 Liverpool</p>
<p>Southampton 2-0 Newcastle</p>
<p>Chelsea 0-0 Man City</p>
<p>Tottenham 3-1 West Ham</p>
